@ui-toolkit:registry=https://atggitlab-srv.xoriant.com/api/v4/packages/npm/
//atggitlab-srv.xoriant.com/api/v4/projects/8/packages/npm/:_authToken=k7U2cdoy9S4BP59fW61u
//atggitlab-srv.xoriant.com/api/v4/packages/npm/:_authToken=k7U2cdoy9S4BP59fW61u